/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* max-width: 150rem;
  margin: 0 auto; */
  color: #023a29;
  background-color: #fff;
  line-height: 1;
  letter-spacing: 0.5rem;
  font-family: "DM Serif Display", sans-serif;
}

.grid {
  display: grid;
  gap: 3rem;
}

.grid-cols {
  display: grid;
  gap: 2rem;
  grid-template-columns: 20rem 128rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-template {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-template-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.left-panel {
  position: relative;
}
.right-panel {
  width: 100%;
}

.text-italic {
  font-style: italic;
  font-weight: 600;
}
.text-center {
  text-align: center;
}

.right-panel img {
  width: 100%;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

.heading-md {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2.5rem 0;
}

.heading-sm {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.paragraph-md {
  color: #868e96;
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.paragraph-sm {
  color: #868e96;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.margin-top {
  margin-top: 10rem;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.span-sm {
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.section {
  font-family: "Poppins", sans-serif !important;
}

.btn-more:link,
.btn-more:visited {
  justify-self: end;
  align-self: center;
  background-color: #e9ecef;
  color: #868e96;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border-radius: 0.3rem;
  box-shadow: 0px 40px 40px 1px rgb(215 212 212 / 78%);
  transition: all 0.5s;
}

.btn-more:hover {
  cursor: pointer;
  color: #fff;
  background-color: #043a2a;
  box-shadow: 0px 40px 40px 1px rgba(37, 255, 171, 0.78);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem 0rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.logo {
  display: inline-block;
  font-size: 3rem;
}

.links {
  display: flex;
  gap: 10rem;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.links a:link,
.links a:visited {
  text-decoration: none;
  border: none;
  color: #034b35;

  transition: all 0.5s;
}

.links a:hover {
  cursor: pointer;
  border: none;
  color: #06bd86;
}

.search {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  align-content: space-between;
}

.header-search {
  width: 3rem;
  height: 3rem;
}

.header-hamburger {
  width: 3rem;
  height: 3rem;
  justify-self: flex-end;
}
/* Hero Section */
.section-hero {
  margin: 4rem 0;
  position: relative;
}

.hero-icon-up {
  position: absolute;
  top: 25%;
  left: 103%;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
}

.hero-icon-down {
  position: absolute;
  top: 35%;
  left: 103%;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
}

.hero-arrow-down {
  position: absolute;
  top: 89%;
  left: 94%;
  width: 3rem;
  height: 3rem;
  padding: 4rem;
  backdrop-filter: blur(8px);
  background-color: #dee2e6a6;
  color: #fff;
}

.hero-slider {
  position: absolute;
  top: 52%;
  left: 103.5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.span-begin {
  align-self: center;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.span-end {
  align-self: center;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.span-vertical-rule {
  align-self: center;
  display: inline-block;
  color: #000;
  height: 6rem;
  border-left: 1px solid #000;
}

.hero-text-container {
  position: absolute;
  max-width: 40%;
  top: 24%;
  left: -6%;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6rem;
  backdrop-filter: blur(6px);
}

.hero-text-container h1 {
  font-size: 6rem;
  font-weight: 400;
}

.hero-text-container p {
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}

/* Partners */
.section-partners {
  margin: 10rem 0;
}

.partner-container {
  background-color: #e9ecef;
  padding: 4rem;
}

.partner-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #000;
  letter-spacing: 1.5;
  margin: 4rem 0rem;
  text-transform: capitalize;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0rem;
}

.partners span {
  height: 3.2rem;
  font-size: 3rem;
  filter: brightness(0);
  opacity: 50%;
}

/* Deals */
.section-deals {
  margin: 2rem 0;
}

.deals-details span:nth-child(1) {
  color: #034b35;
  font-size: 5rem;
  display: inline-block;
}

.deals-details span:nth-child(2) {
  font-size: 3rem;
  display: inline-block;
}

.deals-details span:nth-child(3) {
  font-size: 5rem;
  display: inline-block;
}

.deals-details p {
  margin: 2rem 0rem;
  color: #868e96;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

.deals-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: #000;
}

.deal-package {
  justify-self: end;
}

.deal-package h3 {
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 3rem 0rem;
}

.deal-package p {
  margin: 3.5rem 0rem;
  color: #868e96;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

/* About */
.section-about {
  margin: 5rem 0rem;
}

.flex-container {
  display: flex;
  gap: 12.5rem;
  margin-top: 8rem;
}

.about-1 {
  grid-row: 1/2;
}
.about-2 {
  grid-row: -7/3;
}
.about-3 {
  grid-column: 2/3;
  grid-row: 3/7;
}
.about-4 {
  grid-row: 2/14;
}

.about-1 img {
  width: 33rem;
  height: 16rem;
  object-fit: cover;
}

.about-2 img {
  width: 33rem;
  height: 38rem;
  object-fit: cover;
}

.about-3 img {
  width: 33rem;
  height: 15rem;
  object-fit: cover;
}

.about-4 img {
  width: 33rem;
  height: 38rem;
  object-fit: cover;
}

/* Product */
.section-product {
  margin: 5rem 0rem;
}

.product-container {
  max-width: 120rem;
  margin: 0 auto;
}

.product-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grey-box {
  background-color: #dee2e6;
  padding: 0.5rem 2rem;
  position: relative;
  left: 30%;
}

.icon-forward-arrow {
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 5%;
  color: #212529;
}

.product-links {
  display: flex;
  list-style: none;
  gap: 5rem;
  justify-content: center;
  margin: 3rem 0rem;
}

.product-link:link,
.product-link:visited {
  text-decoration: none;
  color: #adb5bd;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  transition: all 0.5s;
}

.product-link:hover,
.product-link:active {
  color: #212529;
  cursor: pointer;
}

.product-link.active:link,
.product-link.active:visited {
  text-decoration: none;
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  transition: all 0.5s;
}

.product-link.active:hover,
.product-link.active:active {
  color: #adb5bd;
  cursor: pointer;
}

.product-item {
  position: relative;
  max-width: 32rem;
  padding: 12rem 3rem;
  background-color: #dee2e6;
  margin: 7rem 0rem;
}

.product-header {
  position: absolute;
  top: 2rem;
  left: 4.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #212529;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

.product-item img {
  position: absolute;
  top: 17rem;
  left: 5rem;
  width: 70%;
  height: 60%;
}

.bonus-price {
  position: absolute;
  top: 7.8rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #212529;
  letter-spacing: 0.1rem;
}

.price {
  position: absolute;
  top: 8rem;
  left: 11rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: line-through;
  color: #868e96;
  letter-spacing: 0.1rem;
}

.product-icon {
  position: absolute;
  top: -1rem;
  left: 28rem;
  padding: 1rem;
  border-radius: 50%;
  color: #fff;
  background-color: #b98f7b;
  width: 1.4rem;
  height: 1.4rem;
}

/* Testimonials */
.section-testimonial {
  margin: 4rem 0rem;
}

.testimonial {
  margin-left: 12rem;
}

.testimonial-container {
  position: relative;
  overflow: hidden;
  background-color: #e9ecef;
  padding: 3rem;
  border-radius: 1rem;
  /* height: 50vh; */
}

.inner-circle {
  background-image: radial-gradient(circle, transparent 50%, #023a29 50%);
  border-radius: 100%;
  height: 300px;
  width: 300px;
  position: absolute;
  top: -16%;
  left: -9%;
  /* margin: 25px; */
}

.outer-circle {
  background-image: radial-gradient(circle, transparent 55%, #023a29 55%);
  border-radius: 100%;
  height: 462px;
  width: 462px;
  position: absolute;
  top: -26%;
  left: -14%;
}

.testimonial-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-image {
  width: 50%;
  justify-self: end;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.testimonial-name {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.testimonial-office {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #adb5bd;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.testimonial-margin {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.testimonial-icon {
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  margin: 0rem 1rem;
  border-radius: 50%;
  background-color: #fff;
}
